@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200;1,300;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
}
nav{
    background-color: #090909;
    color: #FFFFFF;
    top: -1px;
    left: -7px;
    width: 100%;
    height: 90px;
}
.logo{
    margin-top: 25px;
    margin-left: 25px;
    width: 254px;
    height: 40px;
}
nav ul{
    float:right ;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 30px;
    padding: 0 5px;
    margin: 25px 10px;
    background: #272727 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    opacity: 0.9;
    border-radius: 27px;
    &:nth-child(5){
        background-color: #FF0074;
        border-radius: 8px;
    opacity: 1;
    }
    
}

li.active{
    background: #FF0074 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
}
li.fuel{
    background: #181818 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF1A;
    border-radius: 32px;
    width: 90px;
    height: 30px;
    opacity: 1;
    line-height: 30px;
    cursor: pointer;
}
.fuel img{
    margin: 0 5px;
    padding:2px 0px ;
    width: 20px;
    height: 20px;
    &:nth-child(2){
        width: 10px;
        height: 10px;
    }
}
.dropdown{
    z-index: 1;
    position: relative;
    top: 45px;
    left: -20px;
    width: 300px;
    height: 130px;
    background: #181818 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF33;
    border-radius: 12px;
    opacity: 1;
    flex-direction: column;
}
.dropdown span{
    position: relative;
    top: 5px;
    margin-right: 50px;
    padding: 5px 15px;
}
.dropdown li{
    position: relative;
    top: 10px;
    left:10px;
    margin: 5px 5px;
    border: 1px solid #3A3A3A;
    border-radius: 8px;
    opacity: 1;
    &:hover{border: 1px solid #FF0074;}
}


// sidebar style 

.sidebar-container{
    width: 200px;
    margin:10px 25px;
    float: left;
    background: #181818 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    li{
        margin: 10px 0;
        padding: 10px 15px;
        font: normal normal normal 16px/25px Poppins;
        text-transform: capitalize;
        &:hover{
            background: transparent linear-gradient(90deg, #181818 0%, #5D082E 100%) 0% 0% no-repeat padding-box;
            border-radius: 5px;
            span{
                visibility: visible;
            }
        }
        
        a{
            text-decoration: none;
            color: #FFFFFF;
            padding: 0 0 0 20px;
        }
        img{
            float: left;
            width: 30px;
            height: 25px;
        }
        span{
            visibility: hidden;
            left: 200px;
            position: absolute;
            padding: 0 15px;
            color: #FFFFFF;
            font-size: 10px;
            border-radius: 5px;
            background: transparent linear-gradient(90deg, #181818 0%, #5D082E 100%) 0% 0% no-repeat padding-box;
        }
        
    }
    .actice-bar{
        background: transparent linear-gradient(90deg, #181818 0%, #5D082E 100%) 0% 0% no-repeat padding-box;
        color:#FF0074 ;
    }
    
}